.all-pets-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 55px;
}

.pet-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: beige;
  width: 300px;
  margin: 10px;
  height: 325px
}

.pet-card h2, h3, p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0px;
}

.pet-card h3, 
.pet-card p {
  font-size: 15px;
}

.pet-icon{
  height: 150px;
  width: 150px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.spiral-container {
  display: flex;
  height: 90%;
  margin-left: 5px;
}

.icon-container {
  display: flex;
  justify-content: end;
  width: 100%;
  padding-right: 5px;
  padding-top: 5px;
}

.delete-icon {
  display: flex;
  width: 20px;
}

.delete-icon:hover {
  cursor: pointer;
}

.detail-link-icon {
  height: 70px;
}

@media screen and (max-width: 1364px) {
  .pet-card {
    width: 280px
  }
}

@media screen and (max-width: 1287px) {
  .pet-card {
    width: 250px
  }
}

@media screen and (max-width: 1175px) {
  .pet-card {
    width: 200px;
  }
}

@media screen and (max-width: 989px) {
  .pet-card {
    width: 170px;
    height: 180px
  }
  .pet-icon {
    height: 70px;
    width: 70px;
  }
  .detail-link-icon {
    height: 40px;
  }
  .pet-card h2  {
    font-size: 20px;
  }
  .pet-card p {
    font-size: 10px;
  }
}

@media screen and (max-width: 911px) {
  .spirals {
    height: 120px;
  }
  .pet-card {
    height: 170px;
    width: 170px;
  }
  .pet-icon {
    height: 50px;
    width: 50px;
  }
  h2 {
    font-size: 15px;
  }
  .detail-link-icon {
    height: 25px;
  }
  h3 {
    font-size: 15px;
  }
  .pet-card p {
    font-size: 10px;
  }
}

@media screen and (max-width: 644px) {
  .all-pets-container {
    overflow-x: scroll;
    width: 80%;
  }
}