article {
  background: #fbcb7f;
  /* background: cover; */
  margin-top: -2.5rem;
  height: 100vh
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 2rem;
  align-items: center; */
}

.details-container {
  display: flex;
  justify-content: center;
  border: 3px solid #333333;
  background: white;
  margin: 5rem
}

.owner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.owner-info p {
  background: #ffe8cf;
  padding: 1em
}

.pet-info p {
  background: #ffe8cf;
  padding: 1em
}

.pet-info {
  display: flex;
  flex-direction: column;
}

.pet-image {
  border: .5em solid #72788D;
  border-radius: 10px;
  height: 10em;
  width: 10em;
}

.back-to-all-pets-button-container {
  margin-right: 60rem;
}

.back-to-all-pets-button {
  top: 2rem;
}

.back-to-all-pets-button {
  padding: 10px 40px;
  background: #000;
  border:0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: 40px auto;
  border-radius: 20px;
}

.back-to-all-pets-button:hover{
  padding: 15px 20px ;
}