.home-view {
  display: flex;
  background: #fbcb7f;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbcb7f;
    height: 100%;
  }
}