@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Aleo:wght@200&family=Antic+Didone&family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Oswald:wght@500&family=Raleway:wght@100;400;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
