.form-section {
  display: flex;
  flex-direction: column;
  border: solid 20px #72788D;
  width: 20%;
  border-radius: 8%;
  margin-left: 20px;
  margin-top: 28px;
  margin-bottom: 15px;
  background-color: #E3D7FF;
  height: 42rem;
}

.form-wrapper {
  display: flex;
}

p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.sec {
  padding: 20px;
  font-weight: bold;
}

.paws-image {
  padding: 20px;
  justify-content: center;
}

.button{
  padding: 10px 40px;
  background: #000;
  border:0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: 40px auto;
  border-radius: 20px;
}

.button::after,
.button::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button::after{
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.button::before{
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.button:hover{
  padding: 15px 60px 15px 20px;
}

.button:hover::after,
.button:hover::before{
  opacity: 1;
  right: 15px;
}

@media screen and (max-width: 900px) {
  .form-section {
    margin-left: 90px;
    width: 60%;
    margin-top: 0%;
    height: 20rem;
    padding-left: 30px;
  }
  .paws-image {
    width: 250px;
  }
  .sec {
    padding: 5px;
  }
  .button {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}