.form-section {
  display: flex;
  flex-direction: column;
  border-color: blueviolet;
  border-style: solid;
  width: 20%;
  border-radius: 8%;
  margin-left: 20px;
}

.form-wrapper {
  display: flex;
}

p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.sec {
  padding: 20px;
}

.paws-image {
  width: 190px;
  padding: 20px;
  justify-content: center;
}